@vsintellicode:registry=https://devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/registry/
always-auth=true
; begin auth token
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/registry/:username=devdiv
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/registry/:_password=${NPM_AUTH_TOKEN}
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/registry/:email=osobeso@microsoft.com
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/:username=devdiv
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/:_password=${NPM_AUTH_TOKEN}
//devdiv.pkgs.visualstudio.com/_packaging/IntelliCode/npm/:email=osobeso@microsoft.com
; end auth token